
@{
    ViewBag.Title = "Index";
}




<header class="bg-info text-white text-center py-5">
    <h1 style="color: #F7F7FC">Bienvenido al Sistema</h1>
    <img src="~/Source/img/avatars/imgbienv2.png" alt="Imagen de bienvenida" width="300" height="auto">
 
</header>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Descripción del Sistema</h2>
            <p>
                El Sistema de Gestión de Configuración de Software (SGCS) es una poderosa plataforma diseñada para facilitar la gestión eficiente y controlada de la configuración de software en cualquier entorno de desarrollo. Este sistema proporciona a los equipos de desarrollo y a las organizaciones las herramientas necesarias para administrar, rastrear y mantener registros de todos los componentes y cambios relacionados con el software, garantizando la integridad y calidad del producto final.
            </p>
        </div>
        
</div>